@import "./mixins";

html,
body,
#root {
    @include fullScreen;
}
.wrapper {
    display: flex;
    justify-content: center;
    padding: 50px 30px;
    min-width: 170px;
    touch-action: manipulation;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-top: 50px;
    border-radius: 10%;
    width: 500px;
    height: 650px;
    position: relative;
}

.MuiDrawer-paper {
    .MuiListSubheader-root {
        font-size: 16px;
        font-weight:bold;
        svg {
            position:absolute;
            right:20px;
            top:14px;
            cursor:pointer;
            &:hover {
                font-size:22px;
                top:12px;
            }
        }
    }    

    ul.settings-list {
        padding:10px 50px;
    }
}

@include grid;

.top {
    display: grid;
    margin: -31px -30px 25px;
    padding: 0 5px;
    justify-content: center;
    .settings-wrapper {
        margin: 0 30px 7px;
        .open-settings {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius:35%;
            height:20px;
            width:36px;
            svg {
                font-size:16px;
            }
        }
    }
    .calc-screen {
        text-align: right;
        overflow: hidden;
        height: 60px;
        line-height: 57px;
        padding: 0 5px;
        margin: 10px 30px 25px;
        resize: none;
        font-size: 32px;
        @include noOutline;
    }

}

.bottom {
    display: grid;
    justify-content: center;
    height: 400px;
}

@for $i from 1 through 4 {
    .grid-row-#{$i} {
        grid-row: #{$i};
    }
    .grid-col-#{$i} {
        grid-column: #{$i};
    }
}

button {
    &.btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 75px;
        font-size: 42px;
        line-height: 40px;
        margin: 0;
        border: none;
        &.calc-symbol {
            span {
                position: relative;
                top: -4px;
            }
            &.calc-percent span {
                top: -1px;
            }
        }
    }
    button:active {
        position: relative;
        top: 1px;
    }
    @include noOutline;
    #{$states} {
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5) !important;
    }
}

@media screen and (orientation: portrait) {
    
    .wrapper {
        @include fullScreen;
    }

    .container {
        @include fullScreen;
        border-radius:0;
        max-width:none;
        padding:30px;
        padding-top:50px;
    }
    
    @include grid(20, 25);
    
    .bottom {
        grid-row-gap: 35px;
        button {
            &.btn {
                height: 85px;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    @include smallScreen(32px, 75px);
}

@media screen and (max-height: 745px) and (orientation: portrait) {
    @include smallScreen;
}

@media screen and (max-width: 275px) {
    @include smallScreen(18px, 55px);
}

@media (hover: none) {
    button {
        &.btn {
            &:hover, &:visited {
                background-color: inherit;
            }
        }
    }
}
