@import './settings';
@import './mixins';

html {
    display:flex;
    justify-content:center;
    padding:50px 30px;
    min-width:450px;
    touch-action: manipulation;
  }
  
  .container {
    display:flex;
    flex-direction:column;
    padding:30px;
    background-color:$bg;
    border-radius:10%;
    width:500px;
    height:650px;
    position:relative;
  }
  
  .top {
    display:flex;
    margin:0 -30px 25px;
    justify-content:center;
    border-bottom: 1px solid $divider;
  }
  
  .bottom {
     display: grid;
     grid-template-columns: repeat(4, 20%);
     grid-gap: 20px;
     
     justify-content: center;
     height:400px;
  }
  
  @for $i from 1 through 4 {
      .grid-row-#{$i} {
          grid-row:#{$i}
          
      }
      .grid-col-#{$i} {
          grid-column:#{$i};
      }
  }
  
  .calc-screen {
    text-align:right;
    overflow:hidden;
    padding:0 5px;
    height: 60px;
    line-height:57px;
    margin: 10px 45px 25px;
    background-color:$screen;
    border: 2px solid $divider;
    width:100%;
    resize:none;
    color:$readout;
    font-size:32px;
    @include noOutline;
  }
  
  button {
    &.btn {
      display:flex;
      justify-content:center;
      align-items:center;
      height:75px;
      font-size:42px;
      line-height:40px;
      margin:0;
      background-color:$btn;  
      color:$digit;
      box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
      border:none;
      &:hover {
          color:$digit;
          background-color:$hover;
      }
      &.calc-operator {
          background-color:$hover;
        &.active, &:hover {
          background-color: $active;
        }
      }
      &.calc-reset {
        background-color: $active;
      }
      &.calc-symbol {
          span {
            position:relative;
            top:-4px;
          }
          &.calc-percent span {
            top:-1px;
        }
      }
      @include noOutline;
      #{$states} {
        box-shadow:1px 1px 1px 1px rgba(0,0,0,0.5) !important;
      }
      &.active {
        background-color: $active;
      }
      &:active {
        position:relative;
        top:1px;
      }
    }
  }
  
  @media screen and (orientation:portrait) {
      html, body {
          padding:0;
          background-color:$bg;
      }

      .container {
          width: 100vw;
          height:100vh;
          background-color:transparent;
      }
      .bottom {
          grid-gap:25px;
          grid-row-gap: 35px;
          button {
            &.btn {
                height:85px;
            }
        }
      }
  }
  
  @media screen and (max-height:725px) and (orientation:portrait) {

    .bottom {
      grid-gap:10px;
      padding:0 0 50px;
      button {
        &.btn {
          font-size:20px;
          height:45px;
          &.calc-digit, &.calc-reset {
            padding:0;
            margin:0;
          }
        }
      }
    }
  }