$states: "&:hover, &:active, &:visited, &:focus";

@mixin noOutline {
    #{$states} {
        outline-style:solid !important;
        outline-width:0 !important;
        outline-color:transparent !important;
    }
}

@mixin fullScreen {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

@mixin smallScreen($btnSize: 28px, $btnHeight: 65px) {
    .bottom {
        padding: 0 0 50px;
        grid-row-gap: 30px;
        button {
            &.btn {
                font-size: $btnSize;
                height: $btnHeight;
                &.calc-digit,
                &.calc-reset {
                    padding: 0;
                    margin: 0;
                }
                &.calc-symbol {
                    span {
                        top: -2px;
                    }
                }
            }
        }
    }
}

@mixin grid($factor:20, $gap:20) {
    .top {
        grid-template-columns: repeat(1, calc(#{($factor*4) + '%'} + #{$gap*4}px));
      
        .open-settings {
           left: #{($gap*2) + 5}px;
        }
    }
    .bottom {
        grid-template-columns: repeat(4, #{$factor + '%'});
        grid-gap: #{$gap}px;
    }
}