$states: "&:hover, &:active, &:visited, &:focus, &.focus, &.active";

@mixin noOutline {
    #{$states} {
        outline-style:solid !important;
        outline-width:0 !important;
        outline-color:transparent !important;
    }
}

@mixin fullScreen {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}