@mixin theme(
    $name: 'default',
    $bg: #dedede,
    $divider: #cdcdcd,
    $screen: #fff,
    $readout: #000,
    $btn: #aeaeae,
    $digit: #fff,
    $hover: #7e7e7e,
    $active: #ffae42,
    $btnShadow: rgba(0,0,0,0.5),
) {
    .wrapper {
        &.#{$name} {
            .container {
                background-color:$bg;
            }

            .top {
                border-bottom: 1px solid $divider;
            }

            .calc-screen {
                background-color:$screen;
                border: 2px solid $divider;
                color:$readout;
            }
            button {
                &.btn {
                    background-color:$btn;  
                    color:$digit;
                    #{$states} {
                        box-shadow:1px 1px 1px 1px $btnShadow !important;
                    }
                    &:hover {
                        color:$digit;
                        background-color:$hover;
                    }
                    &.calc-operator {
                        background-color:$hover;
                        &.active, &:hover {
                            background-color: $active !important;
                        }
                    }
                    &.calc-reset {
                    background-color: $active;
                    }
                    &.active {
                        background-color: $active;
                    }
                }
            }
        }
    }

    @media screen and (orientation:portrait) {
        .wrapper {
            &.#{$name} {
                background-color:$bg;
            }
        }
    }
    
    @media (hover: none) {
        button {
            &.btn {
                &:hover, &:visited {
                    background-color: $btn;
                }
            }
        }
    }
}